<!DOCTYPE html>
<html>
<head>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
 <script>
  var socket = io('http://localhost:9002');
  let count = 0;
  socket.on('connect',function(){
    console.log("connected")
  });
  socket.on('disconnect',function(e){
    console.log("disconnected ", e)
  });
  let timer = setInterval(()=> {
   console.log("sending msg ", count)
   socket.emit('msg', {index: count++})
 }, 1000);

  setTimeout(function() {
   console.log("clear now")
   clearInterval(timer);
 }, 20000);
   socket.on('message', function(message){
     console.log("Msg received", message);
   });
   socket.on('ack', function(ack){
     console.log("Acknowledgement received", ack);
   });
 </script>
</head>
<body>
<h1>Check console</h1>
</body>
</html>
